*.o
*.a
*.d
*.swp
.DS_Store
ws
test_adapter
.gnupg
.pEp*
lib
local.conf
build/
# Default ignored files
?idea/
# Windows
build-windows/Debug/
build-windows/Release/
build-windows/libpEpAdapter.vcxproj.user
*.dSYM
test_group
test_adapter_cxx
test_ensure_passphrase
test_leave_device_group
test_library
test_message_cache
test_passphrase_cache
test_semaphore
test_lm_dummy
test_sqlite3
test_pEpsqlite
test_listmanager_dummy
test_pEpLog_basic

*.db

/test/PityTest11/test/test_pEpTest_basic
/test/PityTest11/test/test_transport
/test/PityTest11/test/test_processdirs
