*.o
*.a
*.d
*.swp
ws
test_adapter
.gnupg
.pEp*
lib
local.conf
build/
# Default ignored files
?idea/
# Windows
build-windows/Debug/
build-windows/Release/
build-windows/libpEpAdapter.vcxproj.user
/test/test_adapter.dSYM/Contents/Info.plist
/test/test_adapter_cxx.dSYM/Contents/Info.plist
/test/test_ensure_passphrase.dSYM/Contents/Info.plist
/test/test_leave_device_group.dSYM/Contents/Info.plist
/test/test_library.dSYM/Contents/Info.plist
/test/test_message_cache.dSYM/Contents/Info.plist
/test/test_passphrase_cache.dSYM/Contents/Info.plist
/test/test_semaphore.dSYM/Contents/Info.plist
/test/test_adapter_cxx.dSYM/Contents/Resources/DWARF/test_adapter_cxx
/test/test_adapter_cxx
/test/test_ensure_passphrase.dSYM/Contents/Resources/DWARF/test_ensure_passphrase
/test/test_ensure_passphrase
/test/test_leave_device_group.dSYM/Contents/Resources/DWARF/test_leave_device_group
/test/test_leave_device_group
/test/test_library.dSYM/Contents/Resources/DWARF/test_library
/test/test_library
/test/test_message_cache.dSYM/Contents/Resources/DWARF/test_message_cache
/test/test_message_cache
/test/test_passphrase_cache.dSYM/Contents/Resources/DWARF/test_passphrase_cache
/test/test_passphrase_cache
/test/test_semaphore.dSYM/Contents/Resources/DWARF/test_semaphore
/test/test_semaphore
